.App-Desktop {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-TaskBar {
  padding: 2px;
  box-shadow: inset 1px 0 #fff;
  display: block;
  background-color: silver;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #4e4e4e;
  display: flex;
  flex-direction: row;
  user-select: none;
}

.App-TaskBar img {
  pointer-events: none;
}

.App-TaskBar-Tray {
    margin-left: auto;
    vertical-align: middle;
    height: 22px;
    line-height: 22px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-family: Arial;
    font-weight: 400;
    color: #000;
    padding: 0 10px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}
