.Shortcut {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 82px;
  max-height: 100px;
  overflow: hidden;
}

.Shortcut-Icon {
  display: inline-block;
  margin-bottom: 6px;
}

.Shortcut-Text {
  color: #fff;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  word-wrap: normal;
  word-break: break-word;
  text-align: center;
  text-transform: capitalize;
}
